# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
# Ignore configuration folders for VS Code and Cursor
.vscode/
.cursor/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Custom files
README-ES.md
docs/ARCHITECTURE-ES.md